.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border: inset 5px;
  padding: 5px;
}

.counts {
  display: flex;
}

.count {
  height: 24px;
  width: 13px;
  background-position-y:-84px;
}

.smile {
  margin: 0 70px;
  height: 26px;
  width: 26px;
  background-position-y: -109px;
}