.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.counts {
  display: flex;
}

.count {
  height: 24px;
  width: 14px;
  background-position-y:-84px;
}

.smile {
  margin: 0 80px;
  height: 26px;
  width: 26px;
  background-position-y: -109px;
}